################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeProvider/lut
/.vs/CodeProvider
/CodeProvider.Test/bin/Debug/netcoreapp2.2
/CodeProvider.Test/obj
/CodeProvider.sln.DotSettings.user
